nav {
    padding: 10px;
    
}
nav a {
    text-decoration: none;
    color: rgb(52.49939%,52.49939%,52.49939%);
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    text-decoration: none;
    background-color: rgb(52.49939%,52.49939%,52.49939%);
    color: black;
    font-size: 16px;
    padding: 10px;
}