<div class="viz-wrapper" #sleepviz >
  <svg width="100%" id="svg-container"
       [attr.height]="height">
    <defs>
        <linearGradient id="MyGradient"
        	gradientUnits="userSpaceOnUse"
	       x1="-0.00300922"
	       y1="0"
	       x2="0.999819"
	       y2="0"
	       gradientTransform="matrix(0,-380.92279,380.92279,0,949.185669,381.688721)">
            <stop
         offset="0"
         style="stop-color:rgb(36.470032%,19.215393%,78.822327%);stop-opacity:1;"
         id="stop4698" />
      <stop
         offset="0.0078125"
         style="stop-color:rgb(36.555481%,19.256592%,78.684998%);stop-opacity:1;"
         id="stop4700" />
      <stop
         offset="0.0117188"
         style="stop-color:rgb(36.779785%,19.364929%,78.326416%);stop-opacity:1;"
         id="stop4702" />
      <stop
         offset="0.015625"
         style="stop-color:rgb(36.920166%,19.432068%,78.105164%);stop-opacity:1;"
         id="stop4704" />
      <stop
         offset="0.0195312"
         style="stop-color:rgb(37.059021%,19.499207%,77.882385%);stop-opacity:1;"
         id="stop4706" />
      <stop
         offset="0.0234375"
         style="stop-color:rgb(37.199402%,19.566345%,77.661133%);stop-opacity:1;"
         id="stop4708" />
      <stop
         offset="0.0273438"
         style="stop-color:rgb(37.338257%,19.633484%,77.43988%);stop-opacity:1;"
         id="stop4710" />
      <stop
         offset="0.03125"
         style="stop-color:rgb(37.477112%,19.700623%,77.218628%);stop-opacity:1;"
         id="stop4712" />
      <stop
         offset="0.0351563"
         style="stop-color:rgb(37.615967%,19.766235%,76.99585%);stop-opacity:1;"
         id="stop4714" />
      <stop
         offset="0.0390625"
         style="stop-color:rgb(37.756348%,19.833374%,76.774597%);stop-opacity:1;"
         id="stop4716" />
      <stop
         offset="0.0429687"
         style="stop-color:rgb(37.895203%,19.900513%,76.551819%);stop-opacity:1;"
         id="stop4718" />
      <stop
         offset="0.046875"
         style="stop-color:rgb(38.034058%,19.967651%,76.330566%);stop-opacity:1;"
         id="stop4720" />
      <stop
         offset="0.0507813"
         style="stop-color:rgb(38.172913%,20.03479%,76.109314%);stop-opacity:1;"
         id="stop4722" />
      <stop
         offset="0.0546875"
         style="stop-color:rgb(38.313293%,20.101929%,75.888062%);stop-opacity:1;"
         id="stop4724" />
      <stop
         offset="0.0585938"
         style="stop-color:rgb(38.452148%,20.169067%,75.665283%);stop-opacity:1;"
         id="stop4726" />
      <stop
         offset="0.0625"
         style="stop-color:rgb(38.591003%,20.236206%,75.444031%);stop-opacity:1;"
         id="stop4728" />
      <stop
         offset="0.0664063"
         style="stop-color:rgb(38.729858%,20.303345%,75.222778%);stop-opacity:1;"
         id="stop4730" />
      <stop
         offset="0.0703125"
         style="stop-color:rgb(38.868713%,20.370483%,75.001526%);stop-opacity:1;"
         id="stop4732" />
      <stop
         offset="0.0742188"
         style="stop-color:rgb(39.007568%,20.437622%,74.780273%);stop-opacity:1;"
         id="stop4734" />
      <stop
         offset="0.078125"
         style="stop-color:rgb(39.147949%,20.504761%,74.559021%);stop-opacity:1;"
         id="stop4736" />
      <stop
         offset="0.0820312"
         style="stop-color:rgb(39.286804%,20.570374%,74.337769%);stop-opacity:1;"
         id="stop4738" />
      <stop
         offset="0.0859375"
         style="stop-color:rgb(39.425659%,20.637512%,74.116516%);stop-opacity:1;"
         id="stop4740" />
      <stop
         offset="0.0898438"
         style="stop-color:rgb(39.564514%,20.704651%,73.893738%);stop-opacity:1;"
         id="stop4742" />
      <stop
         offset="0.09375"
         style="stop-color:rgb(39.703369%,20.77179%,73.672485%);stop-opacity:1;"
         id="stop4744" />
      <stop
         offset="0.0976562"
         style="stop-color:rgb(39.842224%,20.838928%,73.451233%);stop-opacity:1;"
         id="stop4746" />
      <stop
         offset="0.101563"
         style="stop-color:rgb(39.981079%,20.906067%,73.22998%);stop-opacity:1;"
         id="stop4748" />
      <stop
         offset="0.105469"
         style="stop-color:rgb(40.119934%,20.97168%,73.008728%);stop-opacity:1;"
         id="stop4750" />
      <stop
         offset="0.109375"
         style="stop-color:rgb(40.258789%,21.038818%,72.787476%);stop-opacity:1;"
         id="stop4752" />
      <stop
         offset="0.113281"
         style="stop-color:rgb(40.397644%,21.105957%,72.566223%);stop-opacity:1;"
         id="stop4754" />
      <stop
         offset="0.117188"
         style="stop-color:rgb(40.536499%,21.173096%,72.346497%);stop-opacity:1;"
         id="stop4756" />
      <stop
         offset="0.121094"
         style="stop-color:rgb(40.675354%,21.240234%,72.125244%);stop-opacity:1;"
         id="stop4758" />
      <stop
         offset="0.125"
         style="stop-color:rgb(40.814209%,21.307373%,71.903992%);stop-opacity:1;"
         id="stop4760" />
      <stop
         offset="0.128906"
         style="stop-color:rgb(40.953064%,21.372986%,71.682739%);stop-opacity:1;"
         id="stop4762" />
      <stop
         offset="0.132813"
         style="stop-color:rgb(41.091919%,21.440125%,71.461487%);stop-opacity:1;"
         id="stop4764" />
      <stop
         offset="0.136719"
         style="stop-color:rgb(41.230774%,21.507263%,71.240234%);stop-opacity:1;"
         id="stop4766" />
      <stop
         offset="0.140625"
         style="stop-color:rgb(41.369629%,21.574402%,71.020508%);stop-opacity:1;"
         id="stop4768" />
      <stop
         offset="0.144531"
         style="stop-color:rgb(41.506958%,21.640015%,70.799255%);stop-opacity:1;"
         id="stop4770" />
      <stop
         offset="0.148438"
         style="stop-color:rgb(41.645813%,21.707153%,70.578003%);stop-opacity:1;"
         id="stop4772" />
      <stop
         offset="0.152344"
         style="stop-color:rgb(41.784668%,21.774292%,70.35675%);stop-opacity:1;"
         id="stop4774" />
      <stop
         offset="0.15625"
         style="stop-color:rgb(41.923523%,21.841431%,70.137024%);stop-opacity:1;"
         id="stop4776" />
      <stop
         offset="0.160156"
         style="stop-color:rgb(42.062378%,21.907043%,69.915771%);stop-opacity:1;"
         id="stop4778" />
      <stop
         offset="0.164062"
         style="stop-color:rgb(42.201233%,21.974182%,69.696045%);stop-opacity:1;"
         id="stop4780" />
      <stop
         offset="0.167969"
         style="stop-color:rgb(42.338562%,22.039795%,69.474792%);stop-opacity:1;"
         id="stop4782" />
      <stop
         offset="0.171875"
         style="stop-color:rgb(42.477417%,22.106934%,69.255066%);stop-opacity:1;"
         id="stop4784" />
      <stop
         offset="0.175781"
         style="stop-color:rgb(42.616272%,22.174072%,69.033813%);stop-opacity:1;"
         id="stop4786" />
      <stop
         offset="0.179688"
         style="stop-color:rgb(42.755127%,22.241211%,68.814087%);stop-opacity:1;"
         id="stop4788" />
      <stop
         offset="0.183594"
         style="stop-color:rgb(42.892456%,22.306824%,68.592834%);stop-opacity:1;"
         id="stop4790" />
      <stop
         offset="0.1875"
         style="stop-color:rgb(43.031311%,22.373962%,68.373108%);stop-opacity:1;"
         id="stop4792" />
      <stop
         offset="0.191406"
         style="stop-color:rgb(43.16864%,22.439575%,68.151855%);stop-opacity:1;"
         id="stop4794" />
      <stop
         offset="0.195312"
         style="stop-color:rgb(43.307495%,22.506714%,67.932129%);stop-opacity:1;"
         id="stop4796" />
      <stop
         offset="0.199219"
         style="stop-color:rgb(43.444824%,22.573853%,67.712402%);stop-opacity:1;"
         id="stop4798" />
      <stop
         offset="0.203125"
         style="stop-color:rgb(43.583679%,22.640991%,67.492676%);stop-opacity:1;"
         id="stop4800" />
      <stop
         offset="0.207031"
         style="stop-color:rgb(43.721008%,22.706604%,67.272949%);stop-opacity:1;"
         id="stop4802" />
      <stop
         offset="0.210938"
         style="stop-color:rgb(43.859863%,22.773743%,67.053223%);stop-opacity:1;"
         id="stop4804" />
      <stop
         offset="0.214844"
         style="stop-color:rgb(43.997192%,22.839355%,66.833496%);stop-opacity:1;"
         id="stop4806" />
      <stop
         offset="0.21875"
         style="stop-color:rgb(44.136047%,22.906494%,66.61377%);stop-opacity:1;"
         id="stop4808" />
      <stop
         offset="0.222656"
         style="stop-color:rgb(44.273376%,22.972107%,66.394043%);stop-opacity:1;"
         id="stop4810" />
      <stop
         offset="0.226562"
         style="stop-color:rgb(44.412231%,23.039246%,66.174316%);stop-opacity:1;"
         id="stop4812" />
      <stop
         offset="0.230469"
         style="stop-color:rgb(44.549561%,23.104858%,65.95459%);stop-opacity:1;"
         id="stop4814" />
      <stop
         offset="0.234375"
         style="stop-color:rgb(44.68689%,23.171997%,65.734863%);stop-opacity:1;"
         id="stop4816" />
      <stop
         offset="0.238281"
         style="stop-color:rgb(44.824219%,23.23761%,65.515137%);stop-opacity:1;"
         id="stop4818" />
      <stop
         offset="0.242188"
         style="stop-color:rgb(44.963074%,23.304749%,65.296936%);stop-opacity:1;"
         id="stop4820" />
      <stop
         offset="0.246094"
         style="stop-color:rgb(45.100403%,23.370361%,65.077209%);stop-opacity:1;"
         id="stop4822" />
      <stop
         offset="0.25"
         style="stop-color:rgb(45.237732%,23.435974%,64.859009%);stop-opacity:1;"
         id="stop4824" />
      <stop
         offset="0.253906"
         style="stop-color:rgb(45.375061%,23.501587%,64.639282%);stop-opacity:1;"
         id="stop4826" />
      <stop
         offset="0.257813"
         style="stop-color:rgb(45.51239%,23.568726%,64.421082%);stop-opacity:1;"
         id="stop4828" />
      <stop
         offset="0.261719"
         style="stop-color:rgb(45.649719%,23.634338%,64.202881%);stop-opacity:1;"
         id="stop4830" />
      <stop
         offset="0.265625"
         style="stop-color:rgb(45.787048%,23.701477%,63.98468%);stop-opacity:1;"
         id="stop4832" />
      <stop
         offset="0.269531"
         style="stop-color:rgb(45.922852%,23.76709%,63.766479%);stop-opacity:1;"
         id="stop4834" />
      <stop
         offset="0.273438"
         style="stop-color:rgb(46.060181%,23.832703%,63.548279%);stop-opacity:1;"
         id="stop4836" />
      <stop
         offset="0.277344"
         style="stop-color:rgb(46.195984%,23.898315%,63.330078%);stop-opacity:1;"
         id="stop4838" />
      <stop
         offset="0.28125"
         style="stop-color:rgb(46.333313%,23.963928%,63.113403%);stop-opacity:1;"
         id="stop4840" />
      <stop
         offset="0.285156"
         style="stop-color:rgb(46.469116%,24.029541%,62.896729%);stop-opacity:1;"
         id="stop4842" />
      <stop
         offset="0.289063"
         style="stop-color:rgb(46.606445%,24.095154%,62.680054%);stop-opacity:1;"
         id="stop4844" />
      <stop
         offset="0.292969"
         style="stop-color:rgb(46.740723%,24.160767%,62.463379%);stop-opacity:1;"
         id="stop4846" />
      <stop
         offset="0.296875"
         style="stop-color:rgb(46.876526%,24.226379%,62.24823%);stop-opacity:1;"
         id="stop4848" />
      <stop
         offset="0.304687"
         style="stop-color:rgb(47.045898%,24.226379%,62.080383%);stop-opacity:1;"
         id="stop4850" />
      <stop
         offset="0.308594"
         style="stop-color:rgb(47.462463%,24.090576%,61.839294%);stop-opacity:1;"
         id="stop4852" />
      <stop
         offset="0.3125"
         style="stop-color:rgb(47.709656%,23.956299%,61.766052%);stop-opacity:1;"
         id="stop4854" />
      <stop
         offset="0.316406"
         style="stop-color:rgb(47.955322%,23.822021%,61.69281%);stop-opacity:1;"
         id="stop4856" />
      <stop
         offset="0.320312"
         style="stop-color:rgb(48.200989%,23.687744%,61.621094%);stop-opacity:1;"
         id="stop4858" />
      <stop
         offset="0.324219"
         style="stop-color:rgb(48.446655%,23.553467%,61.547852%);stop-opacity:1;"
         id="stop4860" />
      <stop
         offset="0.328125"
         style="stop-color:rgb(48.692322%,23.419189%,61.474609%);stop-opacity:1;"
         id="stop4862" />
      <stop
         offset="0.332031"
         style="stop-color:rgb(48.937988%,23.284912%,61.401367%);stop-opacity:1;"
         id="stop4864" />
      <stop
         offset="0.335937"
         style="stop-color:rgb(49.183655%,23.150635%,61.329651%);stop-opacity:1;"
         id="stop4866" />
      <stop
         offset="0.339844"
         style="stop-color:rgb(49.429321%,23.016357%,61.256409%);stop-opacity:1;"
         id="stop4868" />
      <stop
         offset="0.34375"
         style="stop-color:rgb(49.674988%,22.88208%,61.183167%);stop-opacity:1;"
         id="stop4870" />
      <stop
         offset="0.347656"
         style="stop-color:rgb(49.920654%,22.747803%,61.109924%);stop-opacity:1;"
         id="stop4872" />
      <stop
         offset="0.351563"
         style="stop-color:rgb(50.166321%,22.613525%,61.036682%);stop-opacity:1;"
         id="stop4874" />
      <stop
         offset="0.355469"
         style="stop-color:rgb(50.411987%,22.477722%,60.96344%);stop-opacity:1;"
         id="stop4876" />
      <stop
         offset="0.359375"
         style="stop-color:rgb(50.65918%,22.343445%,60.891724%);stop-opacity:1;"
         id="stop4878" />
      <stop
         offset="0.363281"
         style="stop-color:rgb(50.904846%,22.209167%,60.818481%);stop-opacity:1;"
         id="stop4880" />
      <stop
         offset="0.367188"
         style="stop-color:rgb(51.150513%,22.07489%,60.745239%);stop-opacity:1;"
         id="stop4882" />
      <stop
         offset="0.371094"
         style="stop-color:rgb(51.396179%,21.940613%,60.671997%);stop-opacity:1;"
         id="stop4884" />
      <stop
         offset="0.375"
         style="stop-color:rgb(51.641846%,21.806335%,60.598755%);stop-opacity:1;"
         id="stop4886" />
      <stop
         offset="0.378906"
         style="stop-color:rgb(51.887512%,21.672058%,60.525513%);stop-opacity:1;"
         id="stop4888" />
      <stop
         offset="0.382812"
         style="stop-color:rgb(52.133179%,21.537781%,60.453796%);stop-opacity:1;"
         id="stop4890" />
      <stop
         offset="0.386719"
         style="stop-color:rgb(52.378845%,21.403503%,60.380554%);stop-opacity:1;"
         id="stop4892" />
      <stop
         offset="0.390625"
         style="stop-color:rgb(52.624512%,21.269226%,60.307312%);stop-opacity:1;"
         id="stop4894" />
      <stop
         offset="0.394531"
         style="stop-color:rgb(52.870178%,21.133423%,60.23407%);stop-opacity:1;"
         id="stop4896" />
      <stop
         offset="0.398437"
         style="stop-color:rgb(53.115845%,20.999146%,60.160828%);stop-opacity:1;"
         id="stop4898" />
      <stop
         offset="0.402344"
         style="stop-color:rgb(53.361511%,20.864868%,60.087585%);stop-opacity:1;"
         id="stop4900" />
      <stop
         offset="0.40625"
         style="stop-color:rgb(53.608704%,20.730591%,60.015869%);stop-opacity:1;"
         id="stop4902" />
      <stop
         offset="0.410156"
         style="stop-color:rgb(53.85437%,20.596313%,59.942627%);stop-opacity:1;"
         id="stop4904" />
      <stop
         offset="0.414063"
         style="stop-color:rgb(54.100037%,20.462036%,59.869385%);stop-opacity:1;"
         id="stop4906" />
      <stop
         offset="0.417969"
         style="stop-color:rgb(54.345703%,20.327759%,59.796143%);stop-opacity:1;"
         id="stop4908" />
      <stop
         offset="0.421875"
         style="stop-color:rgb(54.59137%,20.193481%,59.7229%);stop-opacity:1;"
         id="stop4910" />
      <stop
         offset="0.425781"
         style="stop-color:rgb(54.837036%,20.059204%,59.649658%);stop-opacity:1;"
         id="stop4912" />
      <stop
         offset="0.429688"
         style="stop-color:rgb(55.082703%,19.924927%,59.577942%);stop-opacity:1;"
         id="stop4914" />
      <stop
         offset="0.433594"
         style="stop-color:rgb(55.328369%,19.789124%,59.5047%);stop-opacity:1;"
         id="stop4916" />
      <stop
         offset="0.4375"
         style="stop-color:rgb(55.574036%,19.654846%,59.431458%);stop-opacity:1;"
         id="stop4918" />
      <stop
         offset="0.441406"
         style="stop-color:rgb(55.819702%,19.520569%,59.358215%);stop-opacity:1;"
         id="stop4920" />
      <stop
         offset="0.445313"
         style="stop-color:rgb(56.065369%,19.386292%,59.286499%);stop-opacity:1;"
         id="stop4922" />
      <stop
         offset="0.449219"
         style="stop-color:rgb(56.311035%,19.252014%,59.213257%);stop-opacity:1;"
         id="stop4924" />
      <stop
         offset="0.453125"
         style="stop-color:rgb(56.558228%,19.117737%,59.140015%);stop-opacity:1;"
         id="stop4926" />
      <stop
         offset="0.457031"
         style="stop-color:rgb(56.803894%,18.983459%,59.066772%);stop-opacity:1;"
         id="stop4928" />
      <stop
         offset="0.460937"
         style="stop-color:rgb(57.049561%,18.849182%,58.99353%);stop-opacity:1;"
         id="stop4930" />
      <stop
         offset="0.464844"
         style="stop-color:rgb(57.295227%,18.714905%,58.920288%);stop-opacity:1;"
         id="stop4932" />
      <stop
         offset="0.46875"
         style="stop-color:rgb(57.540894%,18.580627%,58.848572%);stop-opacity:1;"
         id="stop4934" />
      <stop
         offset="0.472656"
         style="stop-color:rgb(57.78656%,18.44635%,58.77533%);stop-opacity:1;"
         id="stop4936" />
      <stop
         offset="0.476563"
         style="stop-color:rgb(58.032227%,18.312073%,58.702087%);stop-opacity:1;"
         id="stop4938" />
      <stop
         offset="0.480469"
         style="stop-color:rgb(58.277893%,18.17627%,58.628845%);stop-opacity:1;"
         id="stop4940" />
      <stop
         offset="0.484375"
         style="stop-color:rgb(58.52356%,18.041992%,58.555603%);stop-opacity:1;"
         id="stop4942" />
      <stop
         offset="0.488281"
         style="stop-color:rgb(58.769226%,17.907715%,58.482361%);stop-opacity:1;"
         id="stop4944" />
      <stop
         offset="0.492188"
         style="stop-color:rgb(59.014893%,17.773438%,58.410645%);stop-opacity:1;"
         id="stop4946" />
      <stop
         offset="0.496094"
         style="stop-color:rgb(59.260559%,17.63916%,58.337402%);stop-opacity:1;"
         id="stop4948" />
      <stop
         offset="0.5"
         style="stop-color:rgb(59.507751%,17.504883%,58.26416%);stop-opacity:1;"
         id="stop4950" />
      <stop
         offset="0.503906"
         style="stop-color:rgb(59.753418%,17.370605%,58.190918%);stop-opacity:1;"
         id="stop4952" />
      <stop
         offset="0.507813"
         style="stop-color:rgb(59.999084%,17.236328%,58.117676%);stop-opacity:1;"
         id="stop4954" />
      <stop
         offset="0.511719"
         style="stop-color:rgb(60.244751%,17.102051%,58.044434%);stop-opacity:1;"
         id="stop4956" />
      <stop
         offset="0.515625"
         style="stop-color:rgb(60.490417%,16.967773%,57.972717%);stop-opacity:1;"
         id="stop4958" />
      <stop
         offset="0.519531"
         style="stop-color:rgb(60.736084%,16.83197%,57.899475%);stop-opacity:1;"
         id="stop4960" />
      <stop
         offset="0.523438"
         style="stop-color:rgb(60.98175%,16.697693%,57.826233%);stop-opacity:1;"
         id="stop4962" />
      <stop
         offset="0.527344"
         style="stop-color:rgb(61.227417%,16.563416%,57.752991%);stop-opacity:1;"
         id="stop4964" />
      <stop
         offset="0.53125"
         style="stop-color:rgb(61.473083%,16.429138%,57.679749%);stop-opacity:1;"
         id="stop4966" />
      <stop
         offset="0.535156"
         style="stop-color:rgb(61.71875%,16.294861%,57.606506%);stop-opacity:1;"
         id="stop4968" />
      <stop
         offset="0.539063"
         style="stop-color:rgb(61.964417%,16.160583%,57.53479%);stop-opacity:1;"
         id="stop4970" />
      <stop
         offset="0.542969"
         style="stop-color:rgb(62.210083%,16.026306%,57.461548%);stop-opacity:1;"
         id="stop4972" />
      <stop
         offset="0.546875"
         style="stop-color:rgb(62.45575%,15.892029%,57.388306%);stop-opacity:1;"
         id="stop4974" />
      <stop
         offset="0.550781"
         style="stop-color:rgb(62.701416%,15.757751%,57.315063%);stop-opacity:1;"
         id="stop4976" />
      <stop
         offset="0.554688"
         style="stop-color:rgb(62.948608%,15.623474%,57.243347%);stop-opacity:1;"
         id="stop4978" />
      <stop
         offset="0.558594"
         style="stop-color:rgb(63.194275%,15.489197%,57.170105%);stop-opacity:1;"
         id="stop4980" />
      <stop
         offset="0.5625"
         style="stop-color:rgb(63.439941%,15.354919%,57.096863%);stop-opacity:1;"
         id="stop4982" />
      <stop
         offset="0.566406"
         style="stop-color:rgb(63.685608%,15.219116%,57.023621%);stop-opacity:1;"
         id="stop4984" />
      <stop
         offset="0.570313"
         style="stop-color:rgb(63.931274%,15.084839%,56.950378%);stop-opacity:1;"
         id="stop4986" />
      <stop
         offset="0.574219"
         style="stop-color:rgb(64.176941%,14.950562%,56.877136%);stop-opacity:1;"
         id="stop4988" />
      <stop
         offset="0.578125"
         style="stop-color:rgb(64.422607%,14.816284%,56.80542%);stop-opacity:1;"
         id="stop4990" />
      <stop
         offset="0.582031"
         style="stop-color:rgb(64.668274%,14.682007%,56.732178%);stop-opacity:1;"
         id="stop4992" />
      <stop
         offset="0.585938"
         style="stop-color:rgb(64.91394%,14.547729%,56.658936%);stop-opacity:1;"
         id="stop4994" />
      <stop
         offset="0.589844"
         style="stop-color:rgb(65.159607%,14.413452%,56.585693%);stop-opacity:1;"
         id="stop4996" />
      <stop
         offset="0.59375"
         style="stop-color:rgb(65.405273%,14.279175%,56.512451%);stop-opacity:1;"
         id="stop4998" />
      <stop
         offset="0.597656"
         style="stop-color:rgb(65.65094%,14.144897%,56.439209%);stop-opacity:1;"
         id="stop5000" />
      <stop
         offset="0.601563"
         style="stop-color:rgb(65.898132%,14.01062%,56.367493%);stop-opacity:1;"
         id="stop5002" />
      <stop
         offset="0.605469"
         style="stop-color:rgb(66.143799%,13.874817%,56.29425%);stop-opacity:1;"
         id="stop5004" />
      <stop
         offset="0.609375"
         style="stop-color:rgb(66.389465%,13.74054%,56.221008%);stop-opacity:1;"
         id="stop5006" />
      <stop
         offset="0.613281"
         style="stop-color:rgb(66.635132%,13.606262%,56.147766%);stop-opacity:1;"
         id="stop5008" />
      <stop
         offset="0.617187"
         style="stop-color:rgb(66.880798%,13.471985%,56.074524%);stop-opacity:1;"
         id="stop5010" />
      <stop
         offset="0.621094"
         style="stop-color:rgb(67.126465%,13.337708%,56.001282%);stop-opacity:1;"
         id="stop5012" />
      <stop
         offset="0.625"
         style="stop-color:rgb(67.372131%,13.20343%,55.929565%);stop-opacity:1;"
         id="stop5014" />
      <stop
         offset="0.628906"
         style="stop-color:rgb(67.617798%,13.069153%,55.856323%);stop-opacity:1;"
         id="stop5016" />
      <stop
         offset="0.632812"
         style="stop-color:rgb(67.863464%,12.934875%,55.783081%);stop-opacity:1;"
         id="stop5018" />
      <stop
         offset="0.636719"
         style="stop-color:rgb(68.109131%,12.800598%,55.709839%);stop-opacity:1;"
         id="stop5020" />
      <stop
         offset="0.640625"
         style="stop-color:rgb(68.354797%,12.666321%,55.636597%);stop-opacity:1;"
         id="stop5022" />
      <stop
         offset="0.644531"
         style="stop-color:rgb(68.600464%,12.532043%,55.563354%);stop-opacity:1;"
         id="stop5024" />
      <stop
         offset="0.648437"
         style="stop-color:rgb(68.847656%,12.397766%,55.491638%);stop-opacity:1;"
         id="stop5026" />
      <stop
         offset="0.652344"
         style="stop-color:rgb(69.093323%,12.261963%,55.418396%);stop-opacity:1;"
         id="stop5028" />
      <stop
         offset="0.65625"
         style="stop-color:rgb(69.338989%,12.127686%,55.345154%);stop-opacity:1;"
         id="stop5030" />
      <stop
         offset="0.660156"
         style="stop-color:rgb(69.584656%,11.993408%,55.271912%);stop-opacity:1;"
         id="stop5032" />
      <stop
         offset="0.664062"
         style="stop-color:rgb(69.830322%,11.859131%,55.200195%);stop-opacity:1;"
         id="stop5034" />
      <stop
         offset="0.667969"
         style="stop-color:rgb(70.075989%,11.724854%,55.126953%);stop-opacity:1;"
         id="stop5036" />
      <stop
         offset="0.671875"
         style="stop-color:rgb(70.321655%,11.590576%,55.053711%);stop-opacity:1;"
         id="stop5038" />
      <stop
         offset="0.675781"
         style="stop-color:rgb(70.567322%,11.456299%,54.980469%);stop-opacity:1;"
         id="stop5040" />
      <stop
         offset="0.679687"
         style="stop-color:rgb(70.812988%,11.322021%,54.907227%);stop-opacity:1;"
         id="stop5042" />
      <stop
         offset="0.683594"
         style="stop-color:rgb(71.058655%,11.187744%,54.833984%);stop-opacity:1;"
         id="stop5044" />
      <stop
         offset="0.6875"
         style="stop-color:rgb(71.304321%,11.053467%,54.762268%);stop-opacity:1;"
         id="stop5046" />
      <stop
         offset="0.691406"
         style="stop-color:rgb(71.549988%,10.917664%,54.689026%);stop-opacity:1;"
         id="stop5048" />
      <stop
         offset="0.695312"
         style="stop-color:rgb(71.79718%,10.783386%,54.615784%);stop-opacity:1;"
         id="stop5050" />
      <stop
         offset="0.699219"
         style="stop-color:rgb(72.038269%,10.650635%,54.515076%);stop-opacity:1;"
         id="stop5052" />
      <stop
         offset="0.703125"
         style="stop-color:rgb(72.279358%,10.519409%,54.415894%);stop-opacity:1;"
         id="stop5054" />
      <stop
         offset="0.707031"
         style="stop-color:rgb(72.509766%,10.391235%,54.241943%);stop-opacity:1;"
         id="stop5056" />
      <stop
         offset="0.710938"
         style="stop-color:rgb(72.740173%,10.263062%,54.067993%);stop-opacity:1;"
         id="stop5058" />
      <stop
         offset="0.714844"
         style="stop-color:rgb(72.970581%,10.134888%,53.892517%);stop-opacity:1;"
         id="stop5060" />
      <stop
         offset="0.71875"
         style="stop-color:rgb(73.200989%,10.006714%,53.718567%);stop-opacity:1;"
         id="stop5062" />
      <stop
         offset="0.722656"
         style="stop-color:rgb(73.431396%,9.87854%,53.544617%);stop-opacity:1;"
         id="stop5064" />
      <stop
         offset="0.726563"
         style="stop-color:rgb(73.661804%,9.750366%,53.370667%);stop-opacity:1;"
         id="stop5066" />
      <stop
         offset="0.730469"
         style="stop-color:rgb(73.892212%,9.622192%,53.196716%);stop-opacity:1;"
         id="stop5068" />
      <stop
         offset="0.734375"
         style="stop-color:rgb(74.12262%,9.494019%,53.022766%);stop-opacity:1;"
         id="stop5070" />
      <stop
         offset="0.738281"
         style="stop-color:rgb(74.353027%,9.365845%,52.848816%);stop-opacity:1;"
         id="stop5072" />
      <stop
         offset="0.742188"
         style="stop-color:rgb(74.583435%,9.239197%,52.674866%);stop-opacity:1;"
         id="stop5074" />
      <stop
         offset="0.746094"
         style="stop-color:rgb(74.813843%,9.111023%,52.500916%);stop-opacity:1;"
         id="stop5076" />
      <stop
         offset="0.75"
         style="stop-color:rgb(75.045776%,8.982849%,52.326965%);stop-opacity:1;"
         id="stop5078" />
      <stop
         offset="0.753906"
         style="stop-color:rgb(75.276184%,8.854675%,52.151489%);stop-opacity:1;"
         id="stop5080" />
      <stop
         offset="0.757812"
         style="stop-color:rgb(75.506592%,8.726501%,51.977539%);stop-opacity:1;"
         id="stop5082" />
      <stop
         offset="0.761719"
         style="stop-color:rgb(75.737%,8.598328%,51.803589%);stop-opacity:1;"
         id="stop5084" />
      <stop
         offset="0.765625"
         style="stop-color:rgb(75.967407%,8.470154%,51.629639%);stop-opacity:1;"
         id="stop5086" />
      <stop
         offset="0.769531"
         style="stop-color:rgb(76.197815%,8.34198%,51.455688%);stop-opacity:1;"
         id="stop5088" />
      <stop
         offset="0.773437"
         style="stop-color:rgb(76.428223%,8.213806%,51.281738%);stop-opacity:1;"
         id="stop5090" />
      <stop
         offset="0.777344"
         style="stop-color:rgb(76.65863%,8.085632%,51.107788%);stop-opacity:1;"
         id="stop5092" />
      <stop
         offset="0.78125"
         style="stop-color:rgb(76.889038%,7.958984%,50.933838%);stop-opacity:1;"
         id="stop5094" />
      <stop
         offset="0.785156"
         style="stop-color:rgb(77.119446%,7.830811%,50.759888%);stop-opacity:1;"
         id="stop5096" />
      <stop
         offset="0.789062"
         style="stop-color:rgb(77.349854%,7.702637%,50.585938%);stop-opacity:1;"
         id="stop5098" />
      <stop
         offset="0.792969"
         style="stop-color:rgb(77.580261%,7.574463%,50.410461%);stop-opacity:1;"
         id="stop5100" />
      <stop
         offset="0.796875"
         style="stop-color:rgb(77.810669%,7.446289%,50.236511%);stop-opacity:1;"
         id="stop5102" />
      <stop
         offset="0.800781"
         style="stop-color:rgb(78.041077%,7.318115%,50.062561%);stop-opacity:1;"
         id="stop5104" />
      <stop
         offset="0.804688"
         style="stop-color:rgb(78.271484%,7.189941%,49.888611%);stop-opacity:1;"
         id="stop5106" />
      <stop
         offset="0.808594"
         style="stop-color:rgb(78.501892%,7.061768%,49.714661%);stop-opacity:1;"
         id="stop5108" />
      <stop
         offset="0.8125"
         style="stop-color:rgb(78.7323%,6.933594%,49.54071%);stop-opacity:1;"
         id="stop5110" />
      <stop
         offset="0.816406"
         style="stop-color:rgb(78.962708%,6.80542%,49.36676%);stop-opacity:1;"
         id="stop5112" />
      <stop
         offset="0.820313"
         style="stop-color:rgb(79.193115%,6.678772%,49.19281%);stop-opacity:1;"
         id="stop5114" />
      <stop
         offset="0.824219"
         style="stop-color:rgb(79.423523%,6.550598%,49.01886%);stop-opacity:1;"
         id="stop5116" />
      <stop
         offset="0.828125"
         style="stop-color:rgb(79.653931%,6.422424%,48.84491%);stop-opacity:1;"
         id="stop5118" />
      <stop
         offset="0.832031"
         style="stop-color:rgb(79.884338%,6.29425%,48.669434%);stop-opacity:1;"
         id="stop5120" />
      <stop
         offset="0.835938"
         style="stop-color:rgb(80.114746%,6.166077%,48.495483%);stop-opacity:1;"
         id="stop5122" />
      <stop
         offset="0.839844"
         style="stop-color:rgb(80.345154%,6.037903%,48.321533%);stop-opacity:1;"
         id="stop5124" />
      <stop
         offset="0.84375"
         style="stop-color:rgb(80.575562%,5.909729%,48.147583%);stop-opacity:1;"
         id="stop5126" />
      <stop
         offset="0.847656"
         style="stop-color:rgb(80.805969%,5.781555%,47.973633%);stop-opacity:1;"
         id="stop5128" />
      <stop
         offset="0.851563"
         style="stop-color:rgb(81.036377%,5.653381%,47.799683%);stop-opacity:1;"
         id="stop5130" />
      <stop
         offset="0.855469"
         style="stop-color:rgb(81.266785%,5.525208%,47.625732%);stop-opacity:1;"
         id="stop5132" />
      <stop
         offset="0.859375"
         style="stop-color:rgb(81.497192%,5.39856%,47.451782%);stop-opacity:1;"
         id="stop5134" />
      <stop
         offset="0.863281"
         style="stop-color:rgb(81.7276%,5.270386%,47.277832%);stop-opacity:1;"
         id="stop5136" />
      <stop
         offset="0.867188"
         style="stop-color:rgb(81.958008%,5.142212%,47.103882%);stop-opacity:1;"
         id="stop5138" />
      <stop
         offset="0.871094"
         style="stop-color:rgb(82.188416%,5.014038%,46.928406%);stop-opacity:1;"
         id="stop5140" />
      <stop
         offset="0.875"
         style="stop-color:rgb(82.418823%,4.885864%,46.754456%);stop-opacity:1;"
         id="stop5142" />
      <stop
         offset="0.878906"
         style="stop-color:rgb(82.649231%,4.75769%,46.580505%);stop-opacity:1;"
         id="stop5144" />
      <stop
         offset="0.882813"
         style="stop-color:rgb(82.879639%,4.629517%,46.406555%);stop-opacity:1;"
         id="stop5146" />
      <stop
         offset="0.886719"
         style="stop-color:rgb(83.110046%,4.501343%,46.232605%);stop-opacity:1;"
         id="stop5148" />
      <stop
         offset="0.890625"
         style="stop-color:rgb(83.340454%,4.373169%,46.058655%);stop-opacity:1;"
         id="stop5150" />
      <stop
         offset="0.894531"
         style="stop-color:rgb(83.570862%,4.244995%,45.884705%);stop-opacity:1;"
         id="stop5152" />
      <stop
         offset="0.898437"
         style="stop-color:rgb(83.80127%,4.118347%,45.710754%);stop-opacity:1;"
         id="stop5154" />
      <stop
         offset="0.902344"
         style="stop-color:rgb(84.031677%,3.990173%,45.536804%);stop-opacity:1;"
         id="stop5156" />
      <stop
         offset="0.90625"
         style="stop-color:rgb(84.262085%,3.862%,45.362854%);stop-opacity:1;"
         id="stop5158" />
      <stop
         offset="0.910156"
         style="stop-color:rgb(84.492493%,3.733826%,45.187378%);stop-opacity:1;"
         id="stop5160" />
      <stop
         offset="0.914062"
         style="stop-color:rgb(84.7229%,3.605652%,45.013428%);stop-opacity:1;"
         id="stop5162" />
      <stop
         offset="0.917969"
         style="stop-color:rgb(84.953308%,3.477478%,44.839478%);stop-opacity:1;"
         id="stop5164" />
      <stop
         offset="0.921875"
         style="stop-color:rgb(85.183716%,3.349304%,44.665527%);stop-opacity:1;"
         id="stop5166" />
      <stop
         offset="0.925781"
         style="stop-color:rgb(85.414124%,3.22113%,44.491577%);stop-opacity:1;"
         id="stop5168" />
      <stop
         offset="0.929688"
         style="stop-color:rgb(85.644531%,3.094482%,44.317627%);stop-opacity:1;"
         id="stop5170" />
      <stop
         offset="0.933594"
         style="stop-color:rgb(85.874939%,2.966309%,44.143677%);stop-opacity:1;"
         id="stop5172" />
      <stop
         offset="0.9375"
         style="stop-color:rgb(86.105347%,2.838135%,43.969727%);stop-opacity:1;"
         id="stop5174" />
      <stop
         offset="0.941406"
         style="stop-color:rgb(86.335754%,2.709961%,43.795776%);stop-opacity:1;"
         id="stop5176" />
      <stop
         offset="0.945313"
         style="stop-color:rgb(86.566162%,2.581787%,43.621826%);stop-opacity:1;"
         id="stop5178" />
      <stop
         offset="0.949219"
         style="stop-color:rgb(86.79657%,2.453613%,43.44635%);stop-opacity:1;"
         id="stop5180" />
      <stop
         offset="0.953125"
         style="stop-color:rgb(87.026978%,2.325439%,43.2724%);stop-opacity:1;"
         id="stop5182" />
      <stop
         offset="0.957031"
         style="stop-color:rgb(87.257385%,2.197266%,43.09845%);stop-opacity:1;"
         id="stop5184" />
      <stop
         offset="0.960938"
         style="stop-color:rgb(87.487793%,2.069092%,42.9245%);stop-opacity:1;"
         id="stop5186" />
      <stop
         offset="0.964844"
         style="stop-color:rgb(87.718201%,1.940918%,42.750549%);stop-opacity:1;"
         id="stop5188" />
      <stop
         offset="0.96875"
         style="stop-color:rgb(87.948608%,1.81427%,42.576599%);stop-opacity:1;"
         id="stop5190" />
      <stop
         offset="0.972656"
         style="stop-color:rgb(88.179016%,1.686096%,42.402649%);stop-opacity:1;"
         id="stop5192" />
      <stop
         offset="0.976563"
         style="stop-color:rgb(88.409424%,1.557922%,42.228699%);stop-opacity:1;"
         id="stop5194" />
      <stop
         offset="0.980469"
         style="stop-color:rgb(88.639832%,1.429749%,42.054749%);stop-opacity:1;"
         id="stop5196" />
      <stop
         offset="0.984375"
         style="stop-color:rgb(88.870239%,1.301575%,41.880798%);stop-opacity:1;"
         id="stop5198" />
      <stop
         offset="0.988281"
         style="stop-color:rgb(89.100647%,1.173401%,41.705322%);stop-opacity:1;"
         id="stop5200" />
      <stop
         offset="0.992188"
         style="stop-color:rgb(89.331055%,1.045227%,41.531372%);stop-opacity:1;"
         id="stop5202" />
      <stop
         offset="0.996094"
         style="stop-color:rgb(89.561462%,0.917053%,41.357422%);stop-opacity:1;"
         id="stop5204" />
      <stop
         offset="1"
         style="stop-color:rgb(89.79187%,0.788879%,41.183472%);stop-opacity:1;"
         id="stop5206" />
        </linearGradient>
    </defs>
       </svg>
</div>