/* You can add global styles to this file, and also import other style files */
body {
	background-color: rgb(11.399841%,11.399841%,10.598755%);
}

.xAxis path {
	stroke: rgb(52.49939%,52.49939%,52.49939%);
	stroke-width: 2;
}

.xAxis line, .yAxis text, .xAxis text {
	stroke: rgb(52.49939%,52.49939%,52.49939%);
}

.yAxis path, .yAxis line {
	display: none
}