<h2>{{ date }}</h2>
<div *ngIf = "isDataAvailable" class="pie-charts">
    <app-pie-chart *ngFor = "let d of pieData" [data] = "d" [color] = "colors[d.name]"></app-pie-chart>
</div>
<app-d3-viz [data] = "sleep"></app-d3-viz>